@import "./variables";

@mixin dark-mode {
  background-color: color(black2);
  color: white;
  p code {
    background-color: color(black2);
    color:#f4f4f4
  }
  .nav {
    background-color: color(black3);
    border-bottom: solid thin color(black3);
    button {
      background-color: color(black1);
      color: white;
      border: none;
    }
  }
  :global .weave {
    background-color: color(black3);
  }
}
@mixin light-mode {
  background-color: color(white1);
  color: color(black2);
  .nav {
    background-color: color(white1);
    border-bottom: solid thin color(grey2);
    button {
      background-color: color(white1);
      color: color(black2);
      border: solid thin color(grey2);
      border-radius: 2px;
    }
  }
  :global .weave {
    border: solid thin color(grey1);
    background-color: color(white1);
  }
}
.brown-palette {
  path { stroke: #DFA67B; }
  :global .weave-axis {
    stroke: #FFDEB4;
    line {
      stroke: #F4B183;
    }
  }
}

.dark {
  @include dark-mode;
}

.light {
  @include light-mode;
}

.app {
  font-family: font(serif);
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100vh;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  main {
    margin-top: 50px;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
  }
  p { line-height: 1.5; }
  article {
    h1 {
      text-align: left;
      margin: 5% 0;
    }
    display: block;
    width: 90%;
    padding: 1vh 5%;
    padding-bottom: 10vh;
  }
}

.fig {
  padding: 0 3em;
}

.nav {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 30px;
  padding: 1%;
  margin: 0;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    font-size: 1em;
    text-align: center;
    padding: 0;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  ul {
    list-style: none;
    padding: 0 10px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
    a {
      color: inherit;
    }
  }
}
