body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

pre,
code {
	font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
		monospace;
}

pre {
	font-size: 0.82em;
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 0.3em;
	background: hsl(210, 17%, 14%);
	color: #f8f8f2;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre code .token.comment,
pre code .token.prolog,
pre code .token.doctype,
pre code .token.cdata {
	color: hsl(220, 10%, 40%);
}

pre code .token.punctuation {
	color: hsl(220, 14%, 71%);
}

pre code .namespace {
	opacity: 0.7;
}

pre code .token.function {
	color: hsl(187, 47%, 55%);
}



pre code .token.tag,
pre code .token.constant,
pre code .token.symbol,
pre code .token.property,
pre code .token.method,
pre code .token.deleted {
	color: hsl(355, 65%, 65%);
}
pre code .token.string,
pre code .token.number {
	color: hsl(29, 54%, 61%);
}




pre code .token.selector,
pre code .token.attr-name,
pre code .token.char,
pre code .token.builtin,
pre code .token.inserted {
	color: #d1c48d;
}

pre code .token.variable,
pre code .token.operator,
pre code .token.class-name {
	color: hsl(207, 82%, 66%);
}

pre code .token.keyword {
	color: hsl(286, 60%, 67%);
}

pre code .token.regex,
pre code .token.important {
	color: #ebcb8b;
}

pre code .token.script {
	color: white;
}
pre code .token.important,
pre code .token.bold {
	color: hsl(355, 65%, 65%);
}

pre code .token.italic {
	font-style: italic;
}

pre code .token.entity {
	cursor: help;
}