@font-face {
	font-family: "SERIF";
	font-style: normal;
	font-weight: normal;
	src: url("./assets/serif_main_regular.woff")
}

@font-face {
	font-family: "SERIF";
	font-style: normal;
	font-weight: bold;
	src: url("./assets/serif_main_bold.woff")
}

@font-face {
	font-family: "SERIF";
	font-style: italic;
	font-weight: normal;
	src: url("./assets/serif_main_italics.woff")
}

@font-face {
	font-family: "SANS_SERIF";
	font-style: normal;
	font-weight: normal;
	src: url("./assets/sans_serif_main.woff")
}

:root {
	--font-serif: "SERIF";
	--font-sans-serif: "SANS_SERIF";
	--font-cmu: "KaTeX_Main";
	--color-black1: #525252;
	--color-black2: #2b2b2b;
	--color-black3: #1a1a1a;
	--color-white1: white;
	--color-grey1: #e6e6e6;
	--color-grey2: #d2d2d2;
	--color-red: firebrick;
}



body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: none;
}

text {
	font-family: 'KaTeX_Main';
}

pre,
code {
	font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

pre {
	font-size: 0.82em;
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
	border-radius: 0.3em;
	background: #2D3748;
	color: #f8f8f2;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre code .token.comment,
pre code .token.prolog,
pre code .token.doctype,
pre code .token.cdata {
	color: hsl(220, 13%, 61%);
}

pre code .token.punctuation {
	color: rgb(252, 148, 252);
	font-weight: 400;
}

pre code .namespace {
	opacity: 0.7;
}

pre code .token.function,
.token.method {
	color: #82dcff;
	font-weight: bold;
}





pre code .token.constant {
	color: #82aaff;
}

pre code .token.symbol,
pre code .token.property,
pre code .token.deleted {
	color: hsl(3, 78%, 75%);
}

pre code .token.number {
	color: orange;
}

pre code .token.string {
	color: #addb67;
}


pre code .token.operator,
pre code .token.attr-name,
pre code .token.variable {
	color: #f78c6c;
}

pre code .token.keyword {
	color: #B2F5EA;
}

pre code .token.script,
pre code .token.maybe-class-name {
	color: #e3e3e3;
	font-weight: normal;
}

pre code .token.italic {
	font-style: italic;
}

pre code .token.entity {
	cursor: help;
}

pre code .token.tag .token.punctuation,
pre code .token.class-name {
	color: rgb(245, 200, 85);
}

h1+p {
	margin-top: -1.25rem;
}

html {
	font-size: 16px;
}


@media (min-width:600px) {
	html {
		font-size: 14px;
	}
}