@import "../../../styles/base";

.OtpBoxContainer {
  width: 80%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
  margin: $margin1 auto;
  color: $coolGrey3;
  font-size: $xsmall;
  padding: $pad1 $pad3;
  @include BorderRadius;
  @include Card;
  input {
    @include BorderRadius;
    margin: $margin2;
    padding: $pad3;
    @include Indent;
  }
}
