@import "../../../styles/base";

.DocsContainer {
  display: flex;
  flex-direction: column;
  font-family: "CMU Serif";
  width: 100%;
  margin: 0 auto;
  section {
    height: fit-content;
    margin: $margin3 0;
    padding: $pad3;
    @include Card;
    p:first-of-type {
      margin-top: 0;
    }
  }
  h2 {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: $medium;
  }

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
