$mainFont: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$textColor: black;
$pageColor: white;
$cmu_text: 'KaTeX_Main';
$cmu_math: 'KaTeX_Math';
$cmu_mono: 'KaTeX_Typewriter';
$monospace: monospace;

$blue0: #e3f2fd;
$blue1: #bbdefb;
$blue2: #90caf9;
$blue3: #42a5f5;
$blue4: #218de6;
$blue5: #197ad0;
$blue6: #155eb1;

$orange0: #fbe9e7;
$orange1: #ffccbc;
$orange2: #ffab91;
$orange3: #ff8a65;
$orange4: #ff7043;
$orange5: #ff5722;
$orange6: #bf360c;

$gray0: #eeeeee;
$gray1: #bdbdbd;
$gray2: #9e9e9e;
$gray3: #757575;
$gray4: #616161;
$gray5: #424242;
$gray6: #212121;

$bray0: #cfd8dc;
$bray1: #90a4ae;
$bray2: #78909c;
$bray3: #607d8b;
$bray4: #455a64;
$bray5: #37474f;
$bray6: #263238;

$black: #000000;
$white: #ffffff;

$padtiny: 2px;
$pad1: 0.25rem;
$pad2: 0.5rem;
$pad3: 0.75rem;
$pad4: 1rem;
$pad5: 1.5rem;
$pad6: 2rem;
$pad7: 3rem;
$pad8: 4rem;
$pad9: 6rem;
$pad10: 8rem;
$pad11: 12rem;
$pad12: 16rem;
$pad13: 24rem;

$margin1: 0.25rem;
$margin2: 0.5rem;
$margin3: 0.75rem;
$margin4: 1rem;
$margin5: 1.5rem;
$margin6: 2rem;
$margin7: 3rem;
$margin8: 4rem;
$margin9: 6rem;
$margin10: 8rem;
$margin11: 12rem;
$margin12: 16rem;
$margin13: 24rem;

$xxsmall: 0.7rem;
$xsmall: 0.8rem;
$small: 1rem;
$medium: 1.2rem;
$large: 1.4rem;
$xlarge: 1.8rem;
$xxlarge: 2.6rem;
$huge: 4.2rem;

$line1: solid thin $bray3;
$line2: solid thin $bray1;
$line3: solid thin $bray0;

@mixin Card {
	box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.152);

	@media (prefers-color-scheme: dark) {
		box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.35);
	}
}

@mixin Scrollbar {
	scrollbar-color: $bray2 transparent;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 1px;
		border: none;
		background-color: transparent;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
		border: 0;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $bray2;
		border-radius: 1px;
		border: transparent;
	}
}

@mixin StateBox {
	padding: auto $pad2;
	height: 20px;
	min-width: 80px;
	line-height: 1.5;
	text-align: center;
	cursor: pointer;
}

@mixin PlainButton {
	background-color: inherit;
	color: $blue4;
	font-size: $xsmall;
	border: solid thin $blue5;
	width: fit-content;
	padding: $padtiny $pad2;
	border-radius: 2px;

	&:hover {
		background-color: $blue5;
		color: white;
	}

	transition: all 0.15s ease-in;
}

@mixin BlueButton {
	background-color: $blue4;
	color: $blue0;
	font-size: $xxsmall;
	border: 0;
	width: fit-content;
	padding: $pad2;
	border-radius: 3px;
	letter-spacing: 1px;

	&:hover {
		background-color: $blue5;
	}

	transition: all 0.15s ease-in;
}

/* Box Shadows */
$box-shadow: 0px 1px 0 #bbbbbbdd, 1px 1px 2px #8686862d;
$drop-shadow: 3px 3px 2px rgba(0, 0, 0, .7);
$box-shadow-hover: 1px 1px 2px rgba(228, 228, 228, 0.54);
$box-shadow-border: 1px solid #ececec;
$box-shadow-pressed: inset 0.063rem 0.063rem 0.125rem #85858561,
	inset -0.063rem -0.063rem 0.125rem rgba(237, 237, 237, 0.696);
$box-shadow-active: 1px 1px 2px rgb(104, 104, 104);
$page-box-shadow: 0px 1px 1px #b5b5b5, 1px 1px 4px #c6c6c6;

@mixin ShortShadow {
	box-shadow: 0.6px 1.3px 1.3px $bray0;
}

@mixin PlusSign(
	$thickness: 2px, 
	$size: 15px, 
	$outspace: 0px,
	$crossColor: $bray1, 
	$background: $pageColor, 
	$radius: 0%,
) {
  width: $size;
  aspect-ratio: 1;
  border: $outspace solid $background;
  background:
    conic-gradient(
			from 90deg at $thickness $thickness, 
			$background 90deg,
			$crossColor 0
		) 
    calc(100% + $thickness/2) calc(100% + $thickness/2)/
    calc(50%  + $thickness)   calc(50%  + $thickness);
  display: inline-block;
	border-radius: $radius;
}