@mixin layout700 {
	.notesButton {
		display: none;
	}
	
	.doc {
		// max-width: calc(100% - 20px);
	}
	
	.page {
		// max-width: 90%;
	}


	.editor.toolbar {
		flex-wrap: wrap;
		overflow: hidden;
	}

	.dropdown_item:hover {
		.toolbar_action_label {
			position: absolute;
			top: -13px;
			font-size: 0.6rem;
			opacity: 1;
		}
	}



	.main {
		position: fixed;
		// display: grid;
		// grid-template-columns: 3fr 9fr;
		display: flex;
		margin-left: 2px;
		margin-top: 0;
		background-color: var(--page);
		.sidebar {
			width: 22vw;
		}
		.doc {
			width: 78vw;
		}
	}

	.sidebar {
		position: relative;
		padding: $pad2;
		margin: $margin2 0;
	}

	.notes_control {
		display: flex;
		height: 3vh;
		padding: 0;
		margin: 2px 0;
		margin-bottom: $margin2;
	}

	.notelist {
		display: flex;
		width: fit-content;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: none;
		padding: 0;
		margin: 0;
		left: 0;
	}

	.doc {
		position: relative;
		margin-top: $margin2;
	}

	.visible,
	.hidden {
		position: relative;
		transform: scaleY(1);
		margin: 0;
		padding: 0;
		width: 100%;
		cursor: pointer;
	}
}