@import './base';



.App {
	@include AppBase;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.8fr 50fr;
	background-color: $pageColor;
	color: $textColor;

	.katex {
		color: $textColor !important;
	}

	.NavBar {
		@include NavBarStyles;
	}

	input,
	button {
		color: inherit;
		background-color: inherit;
		border: inherit;
		font-family: inherit;
		cursor: pointer;
		padding: 0;
		margin: 0;
		display: block;
	}

	main {
		height: 100vh;
		width: 100vw;
		position: absolute;
		top: 28px;
		padding: 0;

		.Playground {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 90%;
		}

		.Workspace {
			display: flex;
			justify-content: center;

		}
	}

}

@media (min-width:0px) and (max-width:600px) {
	.App {
		display: flex;
		flex-direction: column;
	}
}