@import './base';

.title {
	height: 100%;
}

.item button i {
	display: inline-block !important;
}


button.fixedWidth {
	width: 100px;
	border-bottom: thin solid $primary4;
}

.options {
	z-index: 10;
	display: block;
	position: absolute;
	box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
		inset 0 0 0 1px rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	min-width: 110px;
	min-height: 40px;
	background-color: #fff;
}


.item {
	margin: 0;
	padding: $pad1;
	color: $primary1;
	cursor: pointer;
	text-align: center;
	line-height: 16px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
	flex-shrink: 0;
	border-radius: 0;
	border: 0;
	width: 97%;

	&:hover {
		background-color: $blue3;
		color: $pageColor;
		fill: $pageColor;
	}

	font-size: $xsmall;
}

.item button {
	color: inherit;
	cursor: pointer;
	text-align: left;
	background-color: inherit;
	border: 0;
	width: 95%;
	font-size: $xsmall;
}

.options .item:first-child {
	margin-top: $margin2;
}

.options .item:last-child {
	margin-bottom: $margin2;
}

.title i {
	margin: 0 !important;
}

.item i {
	background-size: contain;
	height: 16px;
	width: 16px;
	margin-right: 7px;
	margin-left: 2px;
	margin-top: 1px;
	color: inherit;
	fill: inherit;
	stroke: inherit;
}



.dropdown i {
	background-size: contain;
	height: 16px;
	width: 16px;
	margin-top: 2px;
	display: flex;
	opacity: 0.6;
}