@import './base';

.ltr {
  text-align: left;
}

.rtl {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

.strike_and_underline {
  text-decoration: underline line-through;
}

.subscript {
  font-size: 0.7em;
  vertical-align: sub !important;
}

.superscript {
  font-size: 0.7em;
  vertical-align: sub !important;
}


.paragraph {
  position: relative;
}

.quote {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  color: rgb(101, 103, 107);
  border-left-color: rgb(206, 208, 212);
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 16px;
}

.h1 {
  font-size: 28px;
  color: rgb(5, 5, 5);
  font-weight: 600;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.h2 {
  font-size: 23px;
  color: rgb(5, 5, 5);
  font-weight: 600;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.h3 {
  font-size: 20px;
  color: rgb(5, 5, 5);
  font-weight: 600;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.h4 {
  font-size: 18px;
  color: rgb(5, 5, 5);
  font-weight: 600;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.h5 {
  font-size: 17px;
  color: rgb(5, 5, 5);
  font-weight: 700;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.h6 {
  font-size: 16px;
  color: rgb(5, 5, 5);
  font-weight: 600;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.link {
  color: rgb(33, 111, 219);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}


.ol1 {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

.ol2 {
  padding: 0;
  margin: 0;
  list-style-type: upper-alpha;
  list-style-position: inside;
}

.ol3 {
  padding: 0;
  margin: 0;
  list-style-type: lower-alpha;
  list-style-position: inside;
}

.ol4 {
  padding: 0;
  margin: 0;
  list-style-type: upper-roman;
  list-style-position: inside;
}

.ol5 {
  padding: 0;
  margin: 0;
  list-style-type: lower-roman;
  list-style-position: inside;
}

.ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

.nested_list_item {
  list-style-type: none;
}

.list_item {
  margin: 0 32px;
}


// § Code

.codetext {
  background-color: rgb(240, 242, 245);
  padding: 1px 0.25rem;
  font-family: Menlo, Consolas, Monaco, monospace;
  font-size: 94%;
}

.code {
  background-color: rgb(240, 242, 245);
  font-family: Menlo, Consolas, Monaco, monospace;
  display: block;
  padding: 8px 8px 8px 52px;
  line-height: 1.53;
  font-size: 13px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  tab-size: 2;
  /* white-space: pre; */
  overflow-x: auto;
  position: relative;

  &::before {
    content: attr(data-gutter);
    position: absolute;
    background-color: #eee;
    left: 0;
    top: 0;
    border-right: 1px solid #ccc;
    padding: 8px;
    color: #777;
    white-space: pre-wrap;
    text-align: right;
    min-width: 25px;
  }
}


.token_atrule {
  color: grey;
}

.token_attr {
  color: grey;
}

.token_boolean {
  color: grey;
}

.token_builtin {
  color: grey;
}

.token_cdata {
  color: grey;
}

.token_char {
  color: grey;
}

.token_class {
  color: grey;
}

.token_className {
  color: grey;
}

.token_constant {
  color: grey;
}

.token_deleted {
  color: grey;
}

.token_doctype {
  color: grey;
}

.token_entity {
  color: grey;
}

.token_important {
  color: grey;
}

.token_inserted {
  color: grey;
}

.token_keyword {
  color: grey;
}

.token_namespace {
  color: grey;
}

.token_number {
  color: grey;
}

.token_operator {
  color: grey;
}

.token_prolog {
  color: grey;
}

.token_property {
  color: grey;
}

.token_regex {
  color: grey;
}

.token_selector {
  color: grey;
}

.token_string {
  color: grey;
}

.token_symbol {
  color: grey;
}

.token_tag {
  color: grey;
}

.token_url {
  color: grey;
}

.token_comment {
  color: grey;
}

.token_punctuation {
  color: grey;
}

.token_property {
  color: grey;
}

.token_operator {
  color: grey;
}

.token_variable {
  color: grey;
}

.token_function {
  color: grey;
}

// § Table

.spreadsheet {
  margin: $margin5;
  padding: $pad1;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow-y: scroll;
  table-layout: fixed;
  width: calc(100% - 15px);
  max-width: 100%;
  margin: 2vh auto;
}

.table_selected {
  outline: 1px solid $blue1;
}



.table_cell {
  border: 1px solid $bray0;
  min-width: 75px;
  vertical-align: top;
  text-align: start;
  padding: 1px;
  position: relative;
  cursor: pointer;
  outline: none;
  font-family: $monospace;
  height: fit-content
}

.table_cell_content {
  margin: 0;
  padding: 0;
  min-height: 2vh;
}

.table_cell input {
  width: 100%;
  size: 1ch;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.table_cell_sorted_indicator {
  display: block;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #999;
}


.table_cell_resizer {
  position: absolute;
  right: -4px;
  height: 100%;
  width: 8px;
  cursor: ew-resize;
  z-index: 10;
  top: 0;
}

.table_cell_header {
  background-color: #f2f3f5;
  text-align: start;
}

.table_cell_selected {
  background-color: rgba(210, 255, 255, 0.602);
  border: 2px solid rgb(146, 204, 237);
}

.table_cell_primary_selected {
  border: 1px solid $blue2;
  display: block;
  height: calc(100% - 2px);
  position: absolute;
  width: calc(100% - 2px);
  left: -1px;
  top: -1px;
  z-index: 2;
}

.table_cell_editing {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.table_add_columns {
  position: absolute;
  top: 0;
  width: 20px;
  background-color: #eee;
  height: 100%;
  right: 0;
  animation: table-controls 0.2s ease;
  border: 0;
  cursor: pointer;
}

.table_add_rows {
  position: absolute;
  bottom: -25px;
  width: calc(100% - 25px);
  background-color: #eee;
  height: 20px;
  left: 0;
  animation: table-controls 0.2s ease;
  border: 0;
  cursor: pointer;
}

.table_cell_resize_ruler {
  display: block;
  position: absolute;
  width: 1px;
  background-color: rgb(60, 132, 244);
  height: 100%;
  top: 0;
}

.table_cell_action_button_container {
  display: block;
  right: 1px;
  top: 0px;
  position: absolute;
  z-index: 4;
  width: 20px;
  height: 20px;
}

.table_cell_action_button {
  background-color: inherit;
  border: 0;
  display: block;
  margin: auto;
  margin-right: 0;
  padding: $pad1;
  height: $margin4;
  width: $margin4;
  cursor: pointer;
  opacity: 0;
	transition: all 0.15s ease-in;
}

.table_cell {
  &:hover {
    .table_cell_action_button {
      opacity: 1;
    }
  }
}



.table_node_content_editable {
  min-height: 20px;
  border: 0px;
  resize: none;
  cursor: text;
  display: block;
  position: relative;
  tab-size: 1;
  outline: 0px;
  padding: 0;
  user-select: text;
  font-size: 15px;
  white-space: pre-wrap;
  word-break: break-word;
  z-index: 3;
}

.table_toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
button.table_button {
  border-radius: 1px;
  background-color: $pageColor;
  border: $box-shadow-border;
  margin-right: 2px;
  box-shadow: $box-shadow;
  color: $bray1;
  font-size: 0.65rem;
  padding: $padtiny $pad1;
  &:hover {
    box-shadow: $box-shadow-hover;
  }
}



.sheet_debugger {
  background-color: $bray5;
  color: white;
  font-family: $monospace;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: $margin5;
  margin-left: $margin5;
  font-size: $xsmall;
  width: 300px;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td {
    border: solid thin white;
    padding: $pad1 $pad2;
    width: 50%;
  }
}

.sheet_debugger_heading {
  background-color: $bray6;
}

.json_window {
  overflow: scroll;
  white-space: pre;
  height: 300px;
  @include Scrollbar;
}

// § Image

.image {
  cursor: pointer;
  display: inline-block;
  position: relative;
  user-select: none;
}

.image img {
  max-width: 100%;
  cursor: pointer;
}

.image img.focused {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

.image img.focused.draggable {
  cursor: grab;
}

.image img.focused.draggable.active {
  cursor: grabbing;
}

.image .image_caption_container {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 30%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 100px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.image .image_caption_button {
  display: block;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  border-top: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 100px;
  color: #000;
  overflow: hidden;
}



.image_content_editable {
  min-height: 20px;
  border: 0px;
  resize: none;
  cursor: text;
  caret-color: rgb(5, 5, 5);
  display: block;
  position: relative;
  tab-size: 1;
  outline: 0px;
  padding: 10px;
  user-select: text;
  font-size: 12px;
  width: calc(100% - 20px);
  white-space: pre-wrap;
  word-break: break-word;
}

.image_placeholder {
  font-size: 12px;
  color: #888;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 10px;
  left: 10px;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  pointer-events: none;
}

.image_control_wrapper_resizing {
  touch-action: none;
}

.resizer {
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: rgb(60, 132, 244);
  border: 1px solid #fff;
}

.n {
  top: -6px;
  left: 48%;
  cursor: n-resize;
}

.ne {
  top: -6px;
  right: -6px;
  cursor: ne-resize;
}

.e {
  bottom: 48%;
  right: -6px;
  cursor: e-resize;
}

.se {
  bottom: -2px;
  right: -6px;
  cursor: nwse-resize;
}

.s {
  bottom: -2px;
  left: 48%;
  cursor: s-resize;
}

.sw {
  bottom: -2px;
  left: -6px;
  cursor: sw-resize;
}

.w {
  bottom: 48%;
  left: -6px;
  cursor: w-resize;
}

.nw {
  top: -6px;
  left: -6px;
  cursor: nw-resize;
}


