.bold {
	background-image: url(../icons/bold.svg);
}

.center {
	background-image: url(../icons/alignCenter.svg);
}

.italic {
	background-image: url(../icons/italic.svg);
}

.strike {
	background-image: url(../icons/strike.svg);
}

.underline {
	background-image: url(../icons/underline.svg);
}

.alignLeft {
	background-image: url(../icons/alignLeft.svg);
}

.alignCenter {
	background-image: url(../icons/alignCenter.svg);
}

.alignRight {
	background-image: url(../icons/alignRight.svg);
}

.alignJustify {
	background-image: url(../icons/justify.svg);
}

.plot1 {
	background-image: url(../icons/xy.svg);
}
.plot3D {
	background-image: url(../icons/xyz.svg);
}

.plus {
	background-image: url(../icons/plus.svg);
}

.image {
	background-image: url(../icons/image.svg);
}

.equation {
	background-image: url(../icons/tex.svg);
}