@import './base';

.overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	flex-direction: column;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba($pageColor, 0.1);
	backdrop-filter: blur(1px);
	-webkit-backdrop-filter: blur(1px);
	flex-grow: 0px;
	flex-shrink: 1px;
	z-index: 100;
}

.main {

	input,
	button {
		color: inherit;
		background-color: inherit;
		border: inherit;
		font-family: inherit;
		cursor: pointer;
		padding: 0;
		margin: 0;
		display: block;
	}


	padding: $pad5;
	width: 70%;
	min-height: 100px;
	min-width: 300px;
	display: flex;
	flex-grow: 10px;
	background-color: #fff;
	flex-direction: column;
	position: relative;
	border-radius: 10px;
	@include Card;
}

.title {
	color: $primary4;
	text-align: right;
	margin: 0;
	padding: 0;
	font-family: $mainFont;
	font-size: $small;
}

.content {
	padding: $pad1;
}

div.close {
	position: absolute;
	margin: $margin1;
	left: 2px;
	top: 5px;
}