@import './base';

.main {
	font-family: $mainFont;
	user-select: none;
	border: $line3;
	padding: $padtiny $pad1;
	header {
		display: block;
		color: $bray1;
	}
	var {
		display: block;
		margin: 0;
		padding: 0;
		font-weight: normal;
		font-style: normal;
		color: $bray1;
		font-size: $xxsmall;
	}
}

.range {
	gap: $margin2;
}

.track {
	position: relative;
	border-radius: 3px;
	background-color: #ddd;
	height: 5px;
	min-width: 90px;
	width: 20vw;
}

.thumb {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: relative;
	top: -2.5px;
	background-color: $pageColor;
	border: $line1;
	cursor: pointer;
}

.display {
	font-family: $mainFont;
	font-size: $small;
	color: $bray3;
	border: $line2;
	padding: $pad1;
	border-radius: $pad1;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	var {
		font-size: 0.65rem !important;
	}
}