@import './base';

.table {
	font-family: $mainFont;
	border: $lightBorder;
	input, button {
		border: 0;
		outline: none;
	}
}

.body {}

.header {
	font-weight: bold;
	border-bottom: $lightBorder;
}

.row, .editRow {
	display: flex;
	border-bottom: $lightBorder;
}

.heading {
	border-right: $lightBorder;
}

.cell {
	padding: $padtiny $pad1;
	margin: 0;
	height: inherit;
	width: 100%;
	&:not(:last-child) {
		border-right: $lightBorder;
	}
}

.heading {
	font-size: $xsmall;
	width: 100%;
}

.hide {
	visibility: hidden;
}

.footer input,
.footer button {
	display: block;
	width: 100%;
}

.footer input {
	margin: 0;
	border: 0;
	border-bottom: $lightBorder;
	padding: 0;

	&::placeholder {
		color: $primary4;
	}
}

.ascendIcon,
.descendIcon {
	transition: transform 0.05s ease-out;
}

.ascendIcon {
	transform: rotate(180deg);
}



button.delete {
	color: salmon;
	padding: 0;
	margin: 0;
	font-size: $xsmall;
	width: $medium;
}

button.abort {
	border: $line;
	color: $primary3;
	border-radius: $padtiny;
}

button.abort {}

button.push, button.save {
	@include WhiteButton;
}
div.push {
	display: flex;
	justify-content: center;
	align-items: center;
}
