@import "../../../styles/base";
.LayoutContainer {
  header {
    display: flex;
    width: $full;
    padding: 0;
    h1 {
      padding: $pad2 0;
      margin: 0;
      display: inline-block;
      color: $coolGrey4;
    }
  }
}
