@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Muli-Regular.ttf');
}

@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/Muli-Italic.ttf');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/Muli-Bold.ttf');
}

@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: bold;
  src: url('../fonts/Muli-BoldItalic.ttf');
}

$mainFont: 'Muli';
$line: solid thin lightgrey;
$xxsmall: 0.6rem;
$xsmall: 0.8rem;
$small: 1rem;
$medium: 1.2rem;
$large: 1.4rem;
$xlarge: 1.8rem;
$xxlarge: 2.6rem;
$huge: 4.2rem;
$orange: #ffab6a;
$coolGrey1: hsl(209, 15%, 28%);
$coolGrey2: hsl(207, 12%, 43%);
$coolGrey3: hsl(208, 12%, 58%);
$coolGrey4: hsl(210, 16%, 76%);
$coolGrey5: hsl(208, 21%, 88%);
$coolGrey6: hsl(210, 30%, 96%);

$blue: 215;
$blue1: hsl(215, 81%, 15%);
$blue2: hsl(215, 79%, 25%);
$blue3: hsl(215, 78%, 45%);
$blue4: hsl(215, 75%, 55%);
$blue5: hsl(215, 59%, 65%);

$pad1: 0.25rem;
$pad2: 0.5rem;
$pad3: 0.75rem;
$pad4: 1rem;
$pad5: 1.5rem;
$pad6: 2rem;
$pad7: 3rem;
$pad8: 4rem;
$pad9: 6rem;
$pad10: 8rem;
$pad11: 12rem;
$pad12: 16rem;
$pad13: 24rem;

$margin1: 0.25rem;
$margin2: 0.5rem;
$margin3: 0.75rem;
$margin4: 1rem;
$margin5: 1.5rem;
$margin6: 2rem;
$margin7: 3rem;
$margin8: 4rem;
$margin9: 6rem;
$margin10: 8rem;
$margin11: 12rem;
$margin12: 16rem;
$margin13: 24rem;





@mixin Indent {
  box-shadow: inset -4px -4px 6px -1px rgb(249, 249, 249),
    inset 2px 2px 8px -1px rgba(72, 79, 96, 0.205);
}

@mixin Shadow1($COLOR) {
  box-shadow: 0px 1px 3px hsl($COLOR, 0%, 91%), 0 1px 2px hsl($COLOR, 0%, 50%);
}

@mixin Shadow2($COLOR) {
  box-shadow: 0px 3px 6px hsl($COLOR, 0%, 77%), 0 2px 4px hsl($COLOR, 0%, 75%);
}

@mixin Border($COLOR, $WIDTH: thin) {
  border: solid $WIDTH $COLOR;
}

@mixin Underline($COLOR, $WIDTH: thin) {
  border-bottom: solid $WIDTH $COLOR;
}

@mixin Card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

@mixin Box {
  border: solid thin lightgrey;
}

@mixin AppBase {
  font-size: 1em;
  font-family: 'Muli';
  margin: 0;
  padding: 0;
}

@mixin FlexRow($justify: space-between, $align: normal, $wrap: nowrap) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin FlexColumn($justify: flex-start, $align: normal, $wrap: nowrap) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin UnstyledList($padding: 0, $margin: 0) {
  list-style: none;
  padding: 0.2em 0.4em;
  margin: $margin;
}

@mixin EditorPlaceholderDiv {
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 10px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

@mixin NoteTitleInput {
  input {
    text-align: center;
    font-family: 'CMU Serif';
    font-size: 1.2rem;
    border: none;
    outline: none;
    margin-top: 2em;
    margin-bottom: 0.4em;
  }
}

@mixin Scrollbar {
  scrollbar-color: $coolGrey4 white;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $coolGrey4;
    border-radius: 5px;
  }
}

@mixin Hover($bg: inherit) {
  &:hover {
    cursor: pointer;
    background-color: $bg;
  }
}

@mixin ShadowButton($width: fit-content, $color: inherit, $margin: 0 5px) {
  button {
    width: $width;
    padding: 2px 5px;
    color: $color;
    margin: $margin;
    background-color: inherit;
    @include Shadow1(4);
    font-family: 'Muli';
    border: 0;
    cursor: pointer;
  }
}

@mixin PlotterStyles {
  display: grid;
  grid-template-rows: 15fr 1fr;
  @include Shadow1(1);
  .PlotWindow {
    @include Shadow1(1);
  }
  .PlotControl {
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    gap: 4px;
    padding: 0.4em;
    .Prompt {
      font-family: monospace;
    }
    button {
      @include Shadow1(1);
      background-color: white;
      border: solid thin lightgrey;
      width: 100%;
      cursor: pointer;
    }
    input {
      border-radius: 0;
      border: none;
      border-bottom: solid thin lightgrey;
      outline: none;
      width: 100%;
      text-align: left;
      padding: 0 4px;
      font-family: monospace;
    }
  }
}

@mixin FlatButton($width: fit-content, $color: inherit) {
  button {
    width: $width;
    padding: 0.3em 0.5em;
    color: $color;
    margin: 0 5px;
    background-color: inherit;
    font-family: 'Muli';
    border: 0;
    cursor: pointer;
  }
}

@mixin EditorInputBase {
  margin: 0;
  padding: 0 5em;
  display: block;
  outline: none;
  scrollbar-width: none;
  font-size: 0.88em;
  font-family: 'CMU Serif';
  height: 100%;
}

@mixin LexicalBase {
  height: 90vh;
  overflow-y: scroll;
  border: solid thin #e4e4e4;
}

@mixin DropdownOption {
  button {
    width: 100%;
    margin: 0.3em 0;
    margin-left: 3px;
    padding: 0;
    text-align: left;
    font-size: 0.8rem;
    height: fit-content;
    box-shadow: none;
    @include Hover($coolGrey4);
  }
}

@mixin DropdownActive {
  height: 170px;
  background-color: white;
  border: solid thin $coolGrey5;
}

@mixin DropdownList {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  top: calc(100% + 0.25em);
  padding: 0;
  margin: 0;
  height: 0;
  transition: height 0.3s ease;
}


@mixin NavBarStyles {
  padding-right: 10px;
  display: flex;
  flex-direction: row-reverse;

  li,
  a,
  h1 {
    display: block;
    text-decoration: none;
    padding: 0;
    margin: 0 0.4em;
    color: $coolGrey4;
    font-size: 0.9rem;
  }

  .LinkList {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@mixin NoScrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin ActiveNoteBase {
  background-color: $blue4;
  color: $coolGrey5;

  button {
    color: $orange;
    border: solid thin $orange;
    background-color: inherit;
  }
}

@mixin Smalltext {
  font-size: 0.7rem;
  display: block;
  padding: 0.3em;
}

@mixin ClearMarginPadding {
  margin: 0;
  padding: 0;
}

@mixin NoteItemHeader {
  margin-top: 5px;
  padding: 4px;
  display: grid;
  grid-template-columns: 8fr 1fr;

  strong {
    @include NoteItemTitle;
  }
}

@mixin NoteItemTitle {
  font-size: 0.8em;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin NotelistToolbar {
  @include FlexRow(flex-end, normal, nowrap);
  @include ShadowButton(fit-content, inherit, 0);

  button {
    background-color: white;
  }

  .ShowNotesButton {
    margin-right: 5px;
  }
}

@mixin DropdownBase {
  width: 6.5em;
  margin-left: 2px;
  height: 100%;
  padding: 4px 1px;
  z-index: 10;
  position: relative;
  @include FlexRow(center, center, nowrap);
  @include Hover();
  @include Shadow1(4);

  .placeholder {
    font-size: 0.8em;
    padding-left: 0.3em;
  }

  .optionsList {
    @include DropdownList;
  }

  .active {
    @include DropdownActive;
  }

  @include DropdownOption;
}

@mixin NoteTitleBase {
  @include NoteTitleInput;
  border: none;
  width: fit-content;
  margin: 0 auto;
}

@mixin NoteItemBase {
  @include Shadow1(5);

  small {
    @include Smalltext;
  }

  &:hover {
    cursor: pointer
  }

  .NoteItemHeader {
    @include NoteItemHeader;
  }

  .DeleteButton {
    cursor: pointer;
  }
}



@mixin PackagesPage {
  margin: 0;
  padding: 2em;
  padding-bottom: 50%;
  overflow-y: scroll;
  @include Scrollbar;
  display: flex;
  flex-direction: column;
  height: 100%;

  ol li {
    padding: 0.4em;
  }

  h2 {
    padding: 0;
    margin: 1em 0 0 0;
  }

  p {
    padding: 0;
    margin: 0.8em 0;
  }
}