@import './base';

.App {
	font-size: 1em;
	font-family: 'Muli';
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.8fr 30fr;

	button {
		background-color: inherit;
		font-family: 'Muli';
		border: 0;
		cursor: pointer;
		@include Shadow1(4);
	}

	.NavBar {
		display: flex;
		flex-direction: row-reverse;
		padding-right: 10px;

		h1 {
			padding: 0;
			font-size: 0.8rem;
			margin: 2px 0;
			color: $coolGrey4;
		}
	}

	main {
		height: 100vh;
		position: absolute;
		top: 28px;
		margin: 0;
		padding: 0;

		.Workspace {
			display: grid;
			grid-template-columns: 3fr 9fr;
			column-gap: 0.8em;
			height: 94%;

			.Sidebar {
				height: 100%;
				padding: 0 5px;
				margin-left: 0.3em;
				@include Shadow1(5);

				.Header {
					margin-top: 5px;

					button {
						width: 100%;
						padding: 0.5em;
						box-shadow: none;
						border: solid thin $coolGrey4;
						color: $coolGrey3;
					}
				}

				.NoteList {
					padding: 0;
					margin: 0;
					list-style: none;
					display: flex;
					flex-direction: column-reverse;

					.Active {
						background-color: $blue4;
						color: $coolGrey5;

						button {
							color: rgb(255, 149, 103);
							box-shadow: none;
						}
					}

					.Item {
						small {
							font-size: 0.7rem
						}

						margin: 5px 2px;
						padding: 2px 5px;

						&:hover {
							cursor: pointer
						}

						@include Shadow1(5);

						.NoteItemHeader {
							margin-top: 5px;
							display: grid;
							grid-template-columns: 8fr 1fr;

							strong {
								font-size: 0.8em;
								max-width: 90%;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
							}
						}
					}
				}
			}

			.TextEditor {
				display: flex;
				flex-direction: column;
				align-items: center;
				height: 100%;

				.EditorToolbar {
					display: flex;
					flex-wrap: wrap;
					align-items: flex-start;
					width: 100%;
					button {
						margin-right: 2px;
					}
				}

				.Lexical {
					height: 100%;

					.NoteTitle {
						input {
							text-align: center;
							font-family: 'CMU Serif';
							font-size: 1.2rem;
							border: none;
							outline: none;
						}

						border: none;
						width: fit-content;
						margin: 5% auto;
					}

					width: 100%;
					margin: 0.5em;
					margin-right: 1.2em;
					margin-bottom: 0;
					border: solid thin #e4e4e4;
					padding: 1em 1.8em;
					@include Card;

					.EditorPlaceholder {
						overflow: hidden;
						position: absolute;
						text-overflow: ellipsis;
						top: 15px;
						left: 10px;
						font-size: 15px;
						user-select: none;
						display: inline-block;
						pointer-events: none;
					}

					.EditorInput {
						margin: 0;
						display: block;
						outline: none;
						position: relative;
						height: fit-content;
						overflow-y: overlay;
						font-family: 'CMU Serif';
					}
				}
			}
		}
	}
}