@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Muli-Regular.ttf");
}
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Muli-Italic.ttf");
}
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Muli-Bold.ttf");
}
@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Muli-BoldItalic.ttf");
}
.App {
  font-size: 1em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 50fr;
  background-color: rgb(253, 253, 253);
}
.App .NavBar {
  padding-right: 10px;
  display: flex;
  flex-direction: row-reverse;
}
.App .NavBar li,
.App .NavBar a,
.App .NavBar h1 {
  display: block;
  text-decoration: none;
  padding: 0;
  margin: 0 0.4em;
  color: hsl(210, 16%, 76%);
  font-size: 0.9rem;
}
.App .NavBar .LinkList {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}
.App input, .App button {
  color: inherit;
  background-color: inherit;
  border: inherit;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: block;
}
.App main {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 28px;
  padding: 0;
}
.App main .Playground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.App main .Playground .tableView {
  position: relative;
  border-collapse: collapse;
  font-size: 1rem;
}
.App main .Playground .tableView input {
  font-size: 0.8rem;
  border-bottom: solid thin hsl(210, 16%, 76%);
  width: 100%;
}
.App main .Playground .hide {
  visibility: hidden;
}
.App main .Playground .extraControls {
  display: flex;
}
.App main .Playground .table {
  display: flex;
  flex-direction: column;
}
.App main .Playground .tableHeader {
  display: flex;
  justify-content: flex-start;
  border-bottom: thin solid hsl(210, 16%, 76%);
  padding-bottom: 2px;
}
.App main .Playground .tableHeaderCell {
  font-weight: bold;
  font-size: 0.85em;
  margin: 0;
  flex: 1;
  margin: 0 2%;
}
.App main .Playground .tableCell {
  font-size: 0.9em;
  display: block;
  width: 100%;
  margin: 0 2%;
}
.App main .Playground .tableBody {
  display: flex;
  flex-direction: column;
}
.App main .Playground .tableRow {
  display: flex;
  justify-content: space-evenly;
  margin: 2% 0;
}
.App main .Playground .editRow {
  display: flex;
}
.App main .Playground .tableFooter {
  display: flex;
}
.App main .Playground .pushButton {
  font-size: 0.85em;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 2px 0.5rem;
}
.App main .Playground .ascending,
.App main .Playground .descending {
  transition: transform 0.05s ease-out;
}
.App main .Playground .ascending {
  transform: rotate(180deg);
}
.App main .Packages {
  margin: 0;
  padding: 2em;
  padding-bottom: 50%;
  overflow-y: scroll;
  scrollbar-color: rgb(253, 253, 253);
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.App main .Packages::-webkit-scrollbar {
  width: 7px;
}
.App main .Packages::-webkit-scrollbar-track {
  background: white;
}
.App main .Packages::-webkit-scrollbar-thumb {
  background-color: hsl(210, 16%, 76%);
  border-radius: 5px;
}
.App main .Packages ol li {
  padding: 0.4em;
}
.App main .Packages h2 {
  padding: 0;
  margin: 1em 0 0 0;
}
.App main .Packages p {
  padding: 0;
  margin: 0.8em 0;
}
.App main .Workspace {
  display: flex;
  justify-content: center;
}
.App main .Workspace .Sidebar {
  margin: 0 1vw;
  display: flex;
  flex-direction: column;
  flex: 3;
}
.App main .Workspace .Sidebar .Header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
.App main .Workspace .Sidebar .Header button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 5px;
  color: inherit;
  margin: 0;
  box-shadow: 0px 1px 3px hsl(4, 0%, 91%), 0 1px 2px hsl(4, 0%, 50%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 0;
}
.App main .Workspace .Sidebar .Header .ShowNotesButton {
  margin-right: 5px;
}
.App main .Workspace .Sidebar .NoteList {
  flex-grow: 1;
  list-style: none;
  padding: 0.2em 0.4em;
  margin: 10px 0;
  scrollbar-width: none;
  box-shadow: 0px 1px 3px hsl(5, 0%, 91%), 0 1px 2px hsl(5, 0%, 50%);
}
.App main .Workspace .Sidebar .NoteList::-webkit-scrollbar {
  display: none;
}
.App main .Workspace .Sidebar .NoteList .Active {
  background-color: hsl(215, 75%, 55%);
  color: hsl(208, 21%, 88%);
}
.App main .Workspace .Sidebar .NoteList .Active button {
  color: #ffab6a;
  border: solid thin #ffab6a;
  background-color: inherit;
}
.App main .Workspace .Sidebar .NoteList .Item {
  box-shadow: 0px 1px 3px hsl(5, 0%, 91%), 0 1px 2px hsl(5, 0%, 50%);
}
.App main .Workspace .Sidebar .NoteList .Item small {
  font-size: 0.7rem;
  display: block;
  padding: 0.3em;
}
.App main .Workspace .Sidebar .NoteList .Item:hover {
  cursor: pointer;
}
.App main .Workspace .Sidebar .NoteList .Item .NoteItemHeader {
  margin-top: 5px;
  padding: 4px;
  display: grid;
  grid-template-columns: 8fr 1fr;
}
.App main .Workspace .Sidebar .NoteList .Item .NoteItemHeader strong {
  font-size: 0.8rem;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.App main .Workspace .TextEditor {
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2vw;
}
.App main .Workspace .TextEditor .EditorToolbar {
  display: flex;
  margin-bottom: 1vh;
}
.App main .Workspace .TextEditor .EditorToolbar button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 5px;
  color: inherit;
  margin: 0 2px;
  box-shadow: 0px 1px 3px hsl(4, 0%, 91%), 0 1px 2px hsl(4, 0%, 50%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 0;
}
.App main .Workspace .TextEditor .EditorToolbar .dropdown {
  width: 6.5em;
  margin-left: 2px;
  height: 100%;
  padding: 4px 1px;
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 0px 1px 3px hsl(4, 0%, 91%), 0 1px 2px hsl(4, 0%, 50%);
}
.App main .Workspace .TextEditor .EditorToolbar .dropdown:hover {
  cursor: pointer;
  background-color: inherit;
}
.App main .Workspace .TextEditor .EditorToolbar .dropdown .placeholder {
  font-size: 0.8rem;
  padding-left: 0.3em;
}
.App main .Workspace .TextEditor .EditorToolbar .dropdown .optionsList {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  top: calc(100% + 0.25em);
  padding: 0;
  margin: 0;
  height: 0;
  transition: height 0.3s ease;
}
.App main .Workspace .TextEditor .EditorToolbar .dropdown .active {
  height: 220px;
  background-color: white;
  border: solid thin hsl(210, 16%, 76%);
}
.App main .Workspace .TextEditor .EditorToolbar .dropdown button {
  width: 100%;
  margin: 0.3em 0;
  margin-left: 3px;
  padding: 0;
  text-align: left;
  font-size: 0.8rem;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: none;
}
.App main .Workspace .TextEditor .EditorToolbar .dropdown button:hover {
  cursor: pointer;
  background-color: hsl(210, 16%, 76%);
}
.App main .Workspace .TextEditor .Lexical {
  height: 90vh;
  overflow-y: scroll;
  border: solid thin #e4e4e4;
  scrollbar-color: rgb(253, 253, 253);
  scrollbar-width: thin;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 0;
}
.App main .Workspace .TextEditor .Lexical::-webkit-scrollbar {
  width: 7px;
}
.App main .Workspace .TextEditor .Lexical::-webkit-scrollbar-track {
  background: white;
}
.App main .Workspace .TextEditor .Lexical::-webkit-scrollbar-thumb {
  background-color: hsl(210, 16%, 76%);
  border-radius: 5px;
}
.App main .Workspace .TextEditor .Lexical:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.App main .Workspace .TextEditor .Lexical .NoteTitle {
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.App main .Workspace .TextEditor .Lexical .NoteTitle input {
  text-align: center;
  font-family: "CMU Serif";
  font-size: 1.2rem;
  border: none;
  outline: none;
  margin-top: 2em;
  margin-bottom: 0.4em;
}
.App main .Workspace .TextEditor .Lexical .EditorPlaceholder {
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 10px;
  font-size: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: inline-block;
  pointer-events: none;
}
.App main .Workspace .TextEditor .Lexical .EditorInput {
  margin: 0;
  padding: 0 5em;
  display: block;
  outline: none;
  scrollbar-width: none;
  font-size: 0.88em;
  font-family: "CMU Serif";
  hkeight: 100%;
}/*# sourceMappingURL=App.module.css.map */