@import './base';

.App {
	@include AppBase;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.8fr 30fr;
	.NavBar { @include NavBarStyles; }
	main {
		height: 100vh;
		width: 100vw;
		position: absolute;
		top: 28px;
		padding: 0;
		.Workspace {
			display: flex;
			justify-content: center;
			.Sidebar {
				margin: 0 1vw;
				display: flex;
				flex-direction: column;
				flex: 3;
				.Header { @include NotelistToolbar; }
				.NoteList {
					flex-grow: 1;
					@include UnstyledList(0, 10px 0);
					@include NoScrollbar;
					@include Shadow1(5);
					.Active { @include ActiveNoteBase; }
					.Item { @include NoteItemBase; }
				}
			}
			.TextEditor {
				flex: 10;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin: 0 2vw;
				// align-items: center;
				.EditorToolbar {
					display: flex;
					@include ShadowButton(fit-content, inherit, 0 2px);
					.dropdown { @include DropdownBase; }
					margin-bottom: 1vh;
				}
				.Lexical {
					@include LexicalBase;
					@include Scrollbar;
					// background-color: green;
					padding: 2em 3em;
					.NoteTitle { @include NoteTitleBase; }
					@include Card;
					.EditorPlaceholder { @include EditorPlaceholderDiv; }
					.EditorInput { @include EditorInputBase; }
				}
			}
		}
	}
}