@import "./base";

.DocsContainer {
  @include Scrollable;
  section {
    padding: $pad3;
    display: block;
    margin: $margin5 $margin2;
    p:first-of-type {
      margin-top: 0;
    }
  }
  h2 {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: $medium;
  }
  figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
