@import './base';
.LayoutContainer {
  header {
    padding-top: 2px;
    height: 40px;
    display: flex;
    width: 100%;
    @include Underline($coolGrey5);
    h1 {
      padding: 0;
      margin: 0;
      padding: $pad2;
      padding-left: $pad4;
      color: $coolGrey4;
      font-size: $xsmall;
    }
  }
  .mainContent {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    article {
      margin: 0 auto;
      padding: $pad2;
    }
  }
}
