@import "./base";

.LoginContainer {
  max-width: 500px;
  margin: 5vh auto;
  padding: 1em;
  @include Shadow1($grey);
  .LoginHeader {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  form {
    input {
      color: $coolGrey2;
      width: $full;
    }
    input,
    button {
      margin: 10px 0;
      padding: $pad2;
    }
    button {
      background-color: $coolGrey2;
      color: $coolGrey5;
    }
    button:disabled {
      background-color: white;
      @include Border($coolGrey5);
      color: $coolGrey4;
    }
  }
  button {
    &:disabled {
      background-color: white;
      @include Border($coolGrey5);
      color: $coolGrey4;
    }
  }
}
