@import "./base";

.Main {
  @include Scrollable;
  display: grid;
  grid-template-columns: 1.5fr 5fr;
}

.AddButton {
  color: $coolGrey4;
  padding: 0 $pad1;
  margin: 0;
  line-height: 0;
  width: fit-content;
}

.DeleteButton {
  color: $red4;
  padding: 0 $pad1;
  margin: 0;
  line-height: 0;
  width: fit-content;
}

.SideBar {
  padding: $pad1;
  border-right: solid thin $coolGrey5;
  .NoteList {
    list-style: none;
    padding: 0;
    font-size: $xsmall;
  }
  .NoteEntry {
    @include Shadow1(4);
    padding: $pad1;
  }
  .NoteHeader {
    display: grid;
    grid-template-columns: 10fr 1fr;
  }
}