@import './base';

.ModalOverlay {
  position: fixed;
  padding: $pad3 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1040;
  width: 100%;
  height: fit-content;
  margin: $margin4;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  .ModalCard {
    display: flex;
    justify-content: center;
    .Modal {
      display: grid;
      width: 30vw;
      grid-template-columns: 1fr 13fr;
      background-color: $coolGrey6;
      @include Card;
      .ModalHeader {
        color: $coolGrey4;
        padding: 0;
        margin: 0;
        .closeModalButton {
          color: $coolGrey3;
          font-size: $medium;
          margin-top: 0;
        }
      }
      .ModalBody {
        color: $coolGrey3;
        padding: 0 $pad3 0 $pad2;
        font-size: $xsmall;
      }
    }
  }
}
