@import "./base";

.Container {
  padding: 0;
  margin: 0;
  display: block;
  width: $full;
  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      button {
        font-size: $xsmall;
        padding: $pad2;
        background-color: white;
        color: $coolGrey3;
      }
      a {
        display: block;
        color: $coolGrey3;
        font-size: $xsmall;
        padding: $pad2 $pad4;
        cursor: pointer;
      }
    }
  }
}
