@import './base';

.Notelist {
  @include Shadow1(10);
  margin: $margin1;
  margin-left: $margin3;
  padding: $pad1 $pad2;
  overflow-y: scroll;
  .UnsavedMark {
    &:after {
      content: ' ';
      width: 6px;
      height: 6px;
      margin-left: $margin1;
      margin-bottom: 1px;
      display: inline-block;
      background-color: $coolGrey4;
      border-radius: 50%;
    }
  }
  .Notelistheader {
    display: flex;
    justify-content: space-between;
    padding: $pad1;
    button {
      color: $coolGrey3;
      border: solid thin $coolGrey4;
      font-size: 0.75em;
      padding: 0 3px;
      border-radius: 5px;
    }
  }
  .NotelistRows {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;

    .activeNote {
      background-color: $blue4;
      color: white;
    }
    li {
      .NoteTitle {
        display: flex;
        justify-content: space-between;
        button {
          color: $red3;
          z-index: 20;
        }
        h3 {
          font-size: $xsmall;
          font-weight: bold;
          padding: 0;
          margin: 0;
        }
      }
      font-size: $xsmall;
      @include Shadow1(50);
      list-style: none;
      margin: $margin1 0;
      padding: $pad1;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
