@import './base';

.RegisterWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .RegisterContainer {
    @include Shadow1($grey);
    padding: 0 $pad4;
    max-width: 600px;
    margin: auto;
    .RegisterHeader {
      margin: $margin2;
      text-align: center;
    }
    form {
      input {
        color: $coolGrey2;
        width: $full;
      }
      input,
      button {
        margin: 10px 0;
        padding: $pad2;
      }
      button {
        background-color: $coolGrey2;
        color: $coolGrey5;
      }
      button:disabled {
        background-color: white;
        @include Border($coolGrey5);
        color: $coolGrey4;
      }
    }
  }

  .Prompt {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    background-color: white;
    color: $coolGrey2;
    width: fit-content;
    max-width: 300px;
    margin: 5px;
    color: $coolGrey3;
    padding: $pad1 $pad3;
    font-size: $xsmall;
    padding: $pad1 $pad3;
    @include Card;
  }

  .Offscreen {
    position: absolute;
    left: -9999px;
  }
}
