@import "../../../styles/base";

.LoginContainer {
  max-width: 500px;
  margin: 5vh auto;
  padding: 1em;
  @include Shadow1($grey);
  .LoginHeader {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  form {
    input,
    button {
      margin: 10px 0;
      padding: $pad2;
    }
  }
}
