.App {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.Display {
	height: 50vh;
	width: 100vw;
}
.Input {
	overflow-y: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: fit-content;
	width: 95vw;
	margin: 0 auto;
	position: fixed;
	bottom: 5%;
	padding-top: 1.5em;
	border: solid thin grey;
}
.show-menu {
	border: solid thin grey;
	background-color: white;
	position: absolute;
	margin-top: 2px;
	left: 0;
	top: 0;
	margin-left: 2px;
	width: 80px;
	cursor: pointer;
}
.form {
	border: solid thin lightgrey;
}