@import "../../../styles/base";

.Container {
  padding: $pad2;
  ul {
    list-style: none;
    margin: $margin2 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    li {
      border-bottom: solid 3px $coolGrey3;
      color: $coolGrey1;
      padding: 0;
      margin: 0;
    }
    a {
      display: block;
      color: $coolGrey3;
      padding: $pad1 $pad3;
      cursor: pointer;
    }
  }
}
