@import "../../../styles/base";

.Container {
  padding: 0;
  margin: 0;
  display: block;
  width: $full;
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      a {
        display: block;
        color: $coolGrey3;
        @include Underline($coolGrey2, 3px);
        padding: $pad3;
        cursor: pointer;
      }
    }
  }
}
